* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

.html {
    justify-content: left;
}

body {
background: linear-gradient(-45deg, rgb(21, 201, 111), white, lime, rgb(21, 194, 194));
background-size: 400% 400%;
animation: gradient 12s ease infinite;
}

@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}